<footer class="site-footer ">
  <!-- Line 1: Social Media Icons -->
  <div class="footer-social">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>

  <!-- Line 2: Name & Copyright -->
  <div class="footer-name">
    <p>&copy; 2025 AirBnb. All rights reserved.</p>
  </div>

  <!-- Line 3: Privacy Policy & Terms -->
  <div class="footer-links">
    <a href="#">Privacy Policy</a> |
    <a href="#">Terms & Conditions</a>
  </div>
</footer>
